body {
    font-family: 'Nunito', sans-serif;
}
#wrapper {
    width: 80%;
    margin: auto;
}
#title {
    padding: 10px 5px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
}
nav {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid;
}
.nav-item {
    padding: 2px 0;
    position: relative;
    letter-spacing: 2px;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid;
}
.nav-dropdown {
    position: absolute;
}
.nav-dropdown a {
    display: block;
    text-decoration: none;
}
main {
    margin: 50px 0;
}
#welcome {
    width: 40%;
    height: auto;
    float: right;
}
#welcome-header {
    padding: 20px;
    text-align: center;
    font-size: 22px;
}
#welcome-description {
    font-size: 15px;
    line-height: 200%;
}
#featured-carousel img {
    width: 50%;
    height: auto;
}
#new-recipe {
    padding: 22px 2px;
    display: flex;
    align-items: center;
}
#new-recipe img {
    padding-right: 5px; 
    width: 30px;
    height: 30px;
    border-right: 2px solid;
}
#new-recipe-text {
    padding: 5px;
    font-size: 20px;
}